/*** Common layout settings ***/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
html[xmlns] .clearfix {
	display: block;
}
* html .clearfix {
	height: 1%;
}

.hidden {
	display:none;
}
.main-content {
	position:relative;
}

/* fluid images moved from jquery.mobile.core.css*/
.ui-mobile img {
	max-width: 100%;
}


/*** Committee page ***/
.org-com li h3 {
	font-size:90%;
}
#org .org-com li a {
	padding-top:0px;
	padding-bottom:0px;
}
#org .tpc-com li a {
	padding-bottom:0px;
}
/*** /committee page ***/

/*** /program page ***/
#program .paperList div.paper {
}
