#slideshow
{ width: 500px;
  height: 250px;
  float: right;}

ul.slideshow {
  list-style: none;
  width: 500px;
  height: 250px;
  overflow: hidden;
  position: relative;
  margin: 0px 0 0 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;}

ul.slideshow li {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;}

ul.slideshow li.show {
  z-index: 500;}

ul img {
  border: none;}

#slideshow-caption {
  width: 500px;
  height: 38px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 500;}

#slideshow-caption .slideshow-caption-container {
  padding: 10px 25px 10px 25px;
  background: transparent url(../images/transparent.png) repeat;
  z-index: 1000;}

#slideshow-caption p {
  padding: 0;
  font: normal 130% arial, sans-serif;
  color: #FFF;}

div.infotitle {
  /* color: rgb(84,94,180); */
  font-size: small;
  font-weight:bold;
  line-height:140%;
  padding:2px;
  margin-top:10px;
  margin-left:100ps;
  text-transform:uppercase;
  letter-spacing: .2em;
}























