html, body, .ui-mobile .ui-page  {
	background: #ffffff; /* Old browsers */
}
.main-content p {
	text-align: justify;	
}

.main-content hr {
	border:none;
	border-top: 1px solid #4C7FB1;
}

.text h2 {
	font-size: 120%;
}

.text h3 {
	font-size: 90%;
	margin-bottom: .5em;
	
}

li del {
	color: #666;
}

.text p, .text li {
	font-size:90%;
}

p.min, h1.min, h2.min, h3.min {
	font-size:80%;
}

.date-list li,.date-list li a, .news-list li, .news-list li a, .info-box li, .info-box li a {
	font-size:80%;
}

/* screen logos */
.screen-logos h3 {
	text-align:center;
	font-size: 90%;
	border-top: 1px solid #4C7FB1;
	margin: 20px 0px 10px 0px;
	padding-top: 20px;
}
.screen-logos .ui-block-a {
	padding-right:10px; text-align:right
}
.screen-logos .ui-block-b {
	padding-left:10px; text-align:left
}
.screen-logos img {
}
/* /screen logos */

/* banner */
#banner {
	width: 100%;
	overflow: hidden;
	max-width:none;
	margin-bottom:5px;
}		
#banner .photo-pannel img {
	max-width:none;
}
#banner .photo-pannel {
	width:780px;
}
#banner .photo-pannel div {
	position:relative;
	overflow:hidden;
}

#banner .photo-pannel .tile {
	width: 120px;
	height: 120px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
	
}

/*
#banner .photo-pannel .sqr {
	width: 120px;
	height: 120px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
}
#banner .photo-pannel .hrz {
	width: 245px;
	height: 120px;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
}
*/

#banner .photo-pannel .logo {
	height:245px;
	width: 275px;
	background-color: #e0e8ef;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
	text-align:center;
	font-family: Arial, Helvetica;
}

#banner .bnr-icon {
	display:none;
	position:absolute;
	bottom:1px;
	left:1px;
	width:16px;
	padding:2px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
#banner a:hover .bnr-icon {
	display:block;
}



/* /banner */

/* Date / News list */
.date-list li{
	font-weight:normal;
}
.news-list li {
	font-weight:normal;
}

.one-column {
	
}


/*** Less than 650 ***/
@media all and (min-width: 100px) and (max-width: 679px) {

	/* Flexible nav bar */
	.nv-line-cut {
		clear:both;
		height:0px;
	}
	
	.top-navbar a.nv-line-a {
		width: 25.5%;	
	}
	.top-navbar a.nv-line-b {
		width: 32.7%;	
	}
	
	.top-navbar a.ui-corner-right, .top-navbar a.ui-corner-right .ui-btn-inner {
		-moz-border-radius-topright: 		0;
		-webkit-border-top-right-radius:	0;
		border-top-right-radius:			0;
	}
	.top-navbar a.ui-corner-left, .top-navbar a.ui-corner-left .ui-btn-inner {
		-moz-border-radius-bottomleft: 		0;
		-webkit-border-bottom-left-radius:	0;
		border-bottom-left-radius:			0;
	}
	.top-navbar a.nv-line-end, .top-navbar a.nv-line-end .ui-btn-inner {
		-moz-border-radius-topright: 		.6em;
		-webkit-border-top-right-radius:	.6em;
		border-top-right-radius:			.6em;
	}
	.top-navbar a.nv-line-start, .top-navbar a.nv-line-start .ui-btn-inner {
		-moz-border-radius-bottomleft: 		.6em;
		-webkit-border-bottom-left-radius:	.6em;
		border-bottom-left-radius:			.6em;
	}
}

/*** Between 650 - 800 ***/

@media all and (min-width: 680px) {
	/* Double column */
	.two-column .col-a {
		width: 48.5%;
		float: left;
	}
	.two-column .col-b {
		width: 48.5%;
		float: right;
		padding:0px;
	}
	#home .col-b .date-list {
		margin-bottom:0px;
	}
	
	/* Flexy nav bar */
	.nv-line-cut {
		display:none;
	}
}

/*** Between 800 - 1000 ***/
@media all and (min-width: 800px) {
	.top-navbar a {
		min-width: 108px;	
	}
	/* page layout */
	.ui-content {
		width: 775px;
		margin-left:auto;
		margin-right:auto;
	}
	/* /page layout */
	
}


/* Theme override */
.ui-bar-e {
	border: 1px solid #ffa256 /*{a-bar-border}*/;
	background: #ffa256 /*{a-bar-background-color}*/;
	color: 					#333 /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFb25e /*{a-bar-background-start}*/), to( #e5914d /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/);
}

.ui-bar-f {
	border: 1px solid #ffa256 /*{a-bar-border}*/;
	background: #FFD8B8 /*{a-bar-background-color}*/;
	border-color: #FFD8B8;
	color: 					#333 /*{e-bar-color}*/;
	font-weight: bold;
	text-shadow: 0 /*{a-bar-shadow-x}*/ 1px /*{a-bar-shadow-y}*/ 1px /*{a-bar-shadow-radius}*/ #eeeeee /*{a-bar-shadow-color}*/;
}

.date-list .ui-body-e,
.date-list .ui-overlay-e {
	border: 1px solid 		#aaa /*{d-body-border}*/;
	border-bottom:none;
	color: 					#333 /*{e-bar-color}*/;
	background: #ffa256 /*{a-bar-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #FFb25e /*{a-bar-background-start}*/), to( #e5914d /*{a-bar-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #FFb25e /*{a-bar-background-start}*/, #e5914d /*{a-bar-background-end}*/);
	
	
	
	
}

