<div class="card">
    <div class="card-header text-white bg-inverse">
        <i class="fa fa-calendar-o mr-3" aria-hidden="true"></i>Important Dates
    </div>
    <div class="card-block bg-faded">
        <ul class="list-group list-group-flush">
            {% if site.data.conference.deadlines %}
                {% for deadline in site.data.conference.deadlines %}
                    {% if deadline.pass_due %}
                        <li class="list-group-item bg-faded text-muted">
                            <del>
                                <strong>{{ deadline.text }}:</strong> {{ deadline.date | date: "%B %-d, %Y (%r " }}{{ deadline.timezone }}) <i class="fa fa-calendar fa-fw ml-1" aria-hidden="true"></i>
                            </del>
                        </li>
                    {% else %}
                        <li class="list-group-item bg-faded text-muted">
                            <strong>{{ deadline.text }}:</strong> {{ deadline.date | date: "%B %-d, %Y (%r " }}{{ deadline.timezone }}) <i class="fa fa-calendar fa-fw ml-1" aria-hidden="true"></i>
                        </li>                                   
                    {% endif %}
                {% endfor %}
            {% else %}
                <li class="list-group-item bg-faded text-muted">TBA</li>
            {% endif %}
        </ul>
    </div>
</div>