
<!--<footer style="padding-top: 1.5rem; border-top: 0.05rem solid #e5e5e5">-->

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-10 offset-xl-1">
            <footer>
                <p class="text-muted small pull-right">&copy; Hotweb 2017</p>
                <div  class="pull-left">
                <img src="./assets/images/valid-html401.gif" alt="Valid HTML
                      4.01!" height="15" border="0">
                <img src="./assets/images/valid-css.gif" alt="Valid CSS!" height="15" border="0">
                </div>
            </footer>
            </div>
        </div>
