<div class="row sponsor">
    <div class="col">
        <h5>SPONSORS</h5>
        {% if site.data.conference.sponsors == nil %}
        <div class="alert alert-warning rounded text-center m-1">
            <p>TBA</p>
        </div>
        {% else %}
        <div class="row">
            {% for sponsor in site.data.conference.sponsors %}
                <img class="img-fluid mr-auto d-inline-block mb-2 mt-2" src="{{ site.baseurl }}{{ sponsor.logo_path }}" alt="{{ sponsor.name }}">
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

