.jumbotron,
.carousel-item {
    height: 20rem;
    border-radius: 0;
}

.alert,
.card,
.jumbotron,
.nav, 
.carousel {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.carousel-caption {
    bottom: 0rem;
    opacity: 0.9;
    height: 1rem;
}

.carousel-caption p {
    font-size: 0.2rem;
}

.card {
    margin-top: 0.75rem; 
    margin-bottom: 1.25rem;
    border-radius: 0.75rem;
    overflow: hidden;
}

.card-block {
    font-size: 90%;
}

.nav {
    margin-top: 0.25rem; 
    margin-bottom: 0.25rem;
    border-radius: 0.75rem;
}

.sponsor {
    margin-top: 0.75rem; 
    margin-bottom: 0.75rem;
}

.sponsor img {
    max-height: 3rem;
}

.sponsor h5 {
    margin-top: 1.5rem; 
    margin-bottom: 1.5rem;
}

footer {
    padding-top: 1.5rem; 
    border-top: 0.05rem solid #e5e5e5;
    margin-top: 1.0rem; 
}

.card-header,
.nav {
    background: linear-gradient(to right, rgba(2,71,114,1), rgba(3,35,53,1));
}